<div id="company" class="py-16 bg-white">
  <div class="container mx-auto">
    <div class="grid grid-cols-6 px-4">
      <div class="col-start-1 col-span-6 sm:col-start-2 sm:col-span-4">
        <div class="text-center">
          <h2 class="text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl">会社情報</h2>
        </div>

        <div class="mt-6 bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">リゾラス株式会社</h3>
            <p class="mt-1 max-w-2xl text-gray-500">RESOLUS, Inc.</p>
          </div>
          <div class="border-t border-gray-200">
            <dl>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="font-medium text-gray-500">設立</dt>
                <dd class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">2022/04/12</dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="font-medium text-gray-500">所在地</dt>
                <dd class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">神奈川県川崎市麻生区上麻生2-27-303</dd>
              </div>
              <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="font-medium text-gray-500">代表取締役CTO</dt>
                <dd class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">田中 聡</dd>
              </div>
              <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="font-medium text-gray-500">事業内容</dt>
                <dd class="mt-1 text-gray-900 sm:mt-0 sm:col-span-2">
                  <ul class="list-disc px-4">
                    <li>ITコンサルティング</li>
                    <li>システム設計・開発・運用</li>
                    <li>IT系人材育成・採用/組織作り相談</li>
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

