<!--<div class="bg-gradient-to-b from-gray-100 to-white">-->
<div id="kv" class="py-12">
  <div class="msg rounded-lg max-w-4xl mx-auto text-center py-10 px-2 sm:py-18 sm:px-6 lg:px-8">
    <h2 class="text-4xl sm:text-6xl font-extrabold text-gray-600 font-notosans font-light leading-relaxed sm:leading-relaxed">
      <p class="inline-block">Would you like to</p>
      <p class="inline-block"><span class="text-gray-700 font-normal">RESOL</span>ve your issues </p>
      <p class="inline-block">with <span class="text-gray-700 font-normal">US</span> ?</p>
    </h2>
    <p class="mt-6 text-2xl leading-8 text-gray-600"><span class="inline-block">テクノロジーで</span><span class="inline-block">あなたの課題解決を支援します</span></p>
  </div>
</div>
